{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p class="display-4" style="margin-left: auto;
    margin-right: 182px;
    margin-bottom: 30px;">
        {{ project.project_name }}
        <small class="text-body-secondary" style="font-size: 2rem;">On {{ project.address }}</small>
    </p>
    <table class="table table-striped" style="margin: 10px auto;
                max-width: 90%;">
        <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Requirements</th>
            <th scope="col">Progress</th>
            <th scope="col">Deadline</th>
            <th scope="col">Status</th>
            <th scope="col"></th>


        </tr>
        </thead>
        <tbody>
        {% for task in project.get_tasks %}
            <tr class="task-tr" data-pk="{{ task.pk }}">
                <td>{{ task.task_category }}</td>
                <td>{{ task.requirement }}
                    {% if task.task_category.unit == 'METERS' %}
                        m.
                    {% endif %}
                </td>
                <td>
                    <div style="height: 32px;" class="progress mb-3" role="progressbar"
                         aria-label="Info example with label"
                         aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-info"
                             style="width: {{ task.progress }}%;">{{ task.progress }}%
                        </div>
                    </div>
                </td>
                <td>
                    {{ task.deadline }}
                </td>
                <td>
                    {% if task.complete %}
                        Complete
                    {% else %}
                        Incomplete
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'projects-task-manage-page' task.slug %}">Manage</a>
                        </li>
                        <li>
                            <button class="dropdown-item delete-task-btn" type="button" data-pk="{{ task.pk }}"
                                    data-slug="{{ task.slug }}">Delete
                            </button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'js/deleteTaskBtn.js' %}">
    </script>
{% endblock %}