{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <p class="display-4" style="margin: 10px auto 20px auto;">Create Project From</p>
    <form method="post" style="margin: auto;
    width: 432px;">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Project Name</label>
            {{ form.project_name|add_class:'form-control' }}
        </div>
        <div class="mb-3">
            <label class="form-label">Building Address</label>
            {{ form.address|add_class:'form-control' }}
        </div>
        <div class="mb-3">
            <label for="exampleSelect" class="form-label">Select Client</label>
            {{ form.client|add_class:'form-select' }}
        </div>
        <button type="submit" class="btn btn-primary create-project">Create Project</button>
    </form>
    <script>
        $(document).ready(function (){
            $('.create-project').click(function (){

                let confirmation = confirm('Are you sure you want to create the selected project?')
            })
        })

    </script>
{% endblock %}