{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p class="display-5" style="margin: 0 auto 34px auto;">Assigned Tasks</p>
    <table class="table table-striped" style="margin: 10px auto;
                max-width: 90%;table-layout: fixed">
        <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Project</th>
            <th scope="col">Requirements</th>
            <th scope="col">Progress</th>
            <th scope="col">Deadline</th>
            <th scope="col">Status</th>
            <th scope="col"></th>


        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr class="task-tr" data-pk="{{ task.pk }}" data-deadline="{{ task.deadline }}">
                <td>{{ task.task_category }}</td>
                <td>{{ task.project }}</td>
                <td>{{ task.requirement }}
                    {% if task.task_category.unit == 'METERS' %}
                        m.
                    {% endif %}
                </td>
                <td>
                    <div style="height: 32px;" class="progress mb-3" role="progressbar"
                         aria-label="Info example with label"
                         aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-info"
                             style="width: {{ task.progress }}%;">{{ task.progress }}%
                        </div>
                    </div>
                </td>
                <td>
                    {{ task.deadline }}
                </td>
                <td>
                    {% if task.complete %}
                        Complete
                    {% else %}
                        Incomplete
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-info track-progress-btn" data-pk="{{ task.pk }}">Track Progress</button>
                    <label class="input-label" style="display: none">
                        <input type='number' class="form-control work-input" style="height: 40px; width: 127px;">
                    </label>
                    <i data-done="{{ task.work_done }}" data-req="{{ task.requirement }}" data-pk="{{ task.pk }}"
                       class="fa-solid fa-check check-btn" style="margin-left: 6px;display: none"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'js/taskColorChange.js' %}"></script>
    <script src="{% static 'js/trackProgressBtn.js' %}"></script>
{% endblock %}

