{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ElectroCo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b42ebc9abb.js" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                initialView: 'dayGridMonth',
                events: events,
                eventDisplay: 'block',
                aspectRatio: 2,
            });
            calendar.render();
        });

    </script>

</head>
<body class="d-flex flex-column min-vh-100">

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">ElectroCo</span>
    </a>

    <ul class="nav nav-pills">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'accounts-logout-page' %}" class="nav-link">Logout</a></li>
            <li class="nav-item"><a href="{% url 'schedule' %}" class="nav-link">Schedule</a></li>
            <li class="nav-item"><a href="{% url 'faqs-page' %}" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="{% url 'projects-worker-tasks-page' user.slug %}" class="nav-link">My Tasks</a>
            </li>
            {% if user.is_superuser %}
                <li class="nav-item"><a href="{% url 'project-staff-page' %}" class="nav-link">Staff</a></li>
                <li class="nav-item"><a href="{% url 'projects-projects-page' %}" class="nav-link">Projects</a></li>
            {% endif %}
        {% endif %}

    </ul>
</header>

{% block content %}
{% endblock %}


<footer class="py-3 my-4 mt-auto">

    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'schedule' %}" class="nav-link">Schedule</a></li>
            <li class="nav-item"><a href="{% url 'faqs-page' %}" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="{% url 'projects-worker-tasks-page' user.slug %}" class="nav-link">My Tasks</a>
            </li>
            {% if user.is_superuser %}
                <li class="nav-item"><a href="{% url 'projects-projects-page' %}" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="{% url 'project-staff-page' %}" class="nav-link">Staff</a></li>
            {% endif %}
        {% endif %}
    </ul>

    <p class="text-center text-body-secondary">© 2023 ElectroCo</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">

</script>
</body>
</html>