{% extends 'base.html' %}
{% block content %}
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Columns with icons</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <h3 class="fs-2 text-body-emphasis">Leave Requests</h3>
                <p>Click the link bellow for paid, unpaid or medical leave requests!</p>
                <a href="{% url 'leave-requests-page' %}" class="icon-link">
                    Click Here!
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <h3 class="fs-2 text-body-emphasis">Other Requests</h3>
                <p>Click the link bellow for resignation letters, raises and position changes!</p>
                <a href="{% url 'other-requests-page' %}" class="icon-link">
                    Click Here!
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <h3 class="fs-2 text-body-emphasis">Yearly Statements</h3>
                <p>Click the link bellow for an annual report of your employment history!</p>
                <a href="{% url 'annual-statement-page' %}" class="icon-link">
                    Click Here!
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
{% endblock %}